<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.happytodo.domain.todo.repository.TodoMapper">
    <sql id="findDomain">
        select dmn.id,
               dmn.user_id,
               dmn.title,
               dmn.content,
               dmn.status as statusCode,
               s.description as statusName,
               dmn.create_dt,
               dmn.update_dt
        from todo_domain dmn
                 inner join todo_status s on dmn.status = s.id
        where dmn.is_del = 0
    </sql>
    <select id="findAllDomain"
            parameterType="net.happytodo.domain.todo.dto.Todo$Condition"
            resultType="net.happytodo.domain.todo.dto.Todo$Domain">
        <include refid="findDomain"></include>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </select>
    <select id="findDomainById" parameterType="int" resultType="net.happytodo.domain.todo.dto.Todo$Domain">
        <include refid="findDomain"></include>
            and dmn.id = #{id}
    </select>
    <insert id="persistDomain"
            parameterType="net.happytodo.domain.todo.dto.Todo$Domain"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into todo_domain(user_id, title, content, status)
        values(#{userId}, #{title}, #{content}, 0)
    </insert>
    <update id="updateDomain" parameterType="net.happytodo.domain.todo.dto.Todo$Domain">
        update todo_domain
        set title = #{title},
            content = #{content},
            status = #{statusCode},
            update_dt = now()
        where id = #{id}
    </update>
    <delete id="deleteDomain" parameterType="int">
        update todo_domain
        set is_del = 1,
            delete_dt = now()
        where id = #{id}
    </delete>
    <select id="findAllStatus" resultType="net.happytodo.domain.todo.dto.Todo$Status">
        select id,
               description,
               icon
        from todo_status
    </select>
</mapper>